.navigation-li{
	margin-left: 30px;
}
.logo{
	margin-left: 30px;
}
}
.navigation-a{
	
	margin-left: 30px;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.navigation{
	margin-left: 30px;
}
img{
	margin-left: 40px
}
h1{
	margin-left: 40px;
}
.manky{
	color: blue;
	margin-left: 40px;
	margin-top: 0px;
}
.nikolai{
	
	margin-left: 40px;
	
}
.dali{
	width: 278px;
	height: 210px;
}
.snikersi{
	margin-left: 40px;
}
.bla{
	margin-left: 40px;
	color: blue;
	margin-top: 0px;

}
.bubu{
	margin-left: 40px;
	margin-top: 0px;
}
.bubu1{
	margin-left: 40px;
}

}
